/* Start Global Rules */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: url("https://res.cloudinary.com/dci1eujqw/image/upload/v1616769558/Codepen/waldemar-brandt-aThdSdgx0YM-unsplash_cnq4sb.jpg");
  background-size: cover;
  height: 95vh;
  background-position: center top;
  background-repeat: no-repeat;
}
/* End Global Rules */

/*Start Forms*/
.forms {
  background: #fff;
  padding: 20px;
  margin: 100px auto;
  color: #b7afaf;
  width: 400px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.7);
}
.forms form {
  width: 300px;
}
.forms .form-login,
.forms .form-signup {
  position: relative;
  padding: 30px;
  color: #b7afaf;
}
.forms .form-login:after {
  content: "";
  height: 80%;
  position: absolute;
  top: 114px;
  right: 20px;
}
.forms .title-form,
.forms input[type="submit"] {
  font-family: "Montserrat", sans-serif;
}
.forms .title-form {
  color: #6930f6;
  font-size: 57px;
  margin-top: 0;
  margin-bottom: 50px;
}
.forms .input-container {
  position: relative;
  margin-bottom: 30px;
}

.forms .input-container input {
  width: 100%;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
}
.forms .input-container input:focus {
  outline: none;
  box-shadow: none;
  border-bottom: solid 2px #6830f6 !important;
  border-left: solid 4px #6830f6 !important;
}
.forms .input-container label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #6830f6;
  opacity: 0;
}
.forms .input-container input:focus ~ label {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  top: -22px;
}
.forms input[type="submit"] {
  background-color: #6830f6;
  color: #fff;
  padding: 12px 15px;
  border: none;
  width: 300px;
  margin-bottom: 30px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.forms input[type="submit"]:hover {
  background-color: #4d16d8;
}
.forms .footer-form label {
  font-weight: normal;
  cursor: pointer;
}
.forms .footer-form a {
  color: #b7afaf;
}

.forms input[type="checkbox"] {
  display: none;
}
.forms input[type="checkbox"] + label:before {
  background-color: #fff;
  border: 2px solid #6930f6;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 11px;
  margin: -5px 10px 0 0;
  vertical-align: middle;
}
.forms input[type="checkbox"]:checked + label:before {
  background-color: #6930f6;
}
/*Start Media Max Width 991px*/
@media (max-width: 991px) {
  .forms .form-login:after {
    display: none;
  }
  .forms .form-login,
  .forms .form-signup {
    text-align: center;
  }
  .forms .form-login {
    border-bottom: 2px solid #f7f7f7;
    padding-bottom: 50px;
  }
}
